@import "../../../../scss/main";
article {
  font-size: 10pt;
  margin-bottom: 20pt;
  padding-bottom: 15pt;
  color: $text-color;
  &::after {
    content: '';
    display: inline-block;
    width: 30pt;
    border-top: solid 1pt $theme-color;
    position: relative;
    top: 15pt
  }
  &:last-child::after{
    border: none;
  }
  header {
    margin-bottom: 15pt;
    .title {
      -ms-word-break: break-all;
      word-break: break-all;}
  }

  img {max-width: 100%; margin-bottom: 5pt; border-radius: 10pt;}

  pre, .markdown-body {
    font-family: "Microsoft YaHei", serif;
    line-height: 2;
  }
}


#app[data-is-mobile="true"] {
  article * {font-size: 12pt}
}

