@import "../../../../scss/main";
.lds-ellipsis {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 64px;
  height: 64px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: $theme-color;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}

.spinner {
  position: absolute;
  left: calc(50% - 34px);
  top: calc(50% - 34px);
}

$spinnerWidth: 20px;
$spinnerGap: 8px;
$spinnerBorderRadius: 6px;
$spinnerOffset: $spinnerWidth + $spinnerGap;

.spinner > div {
  width: $spinnerWidth;
  height: $spinnerWidth;
  position: absolute;
  border-radius: $spinnerBorderRadius;
}
.square1, .square2, .square3, .square4 {
  animation: sk-cubemove 1.2s infinite cubic-bezier(0, 0, 0, 0.97);;
}
.square1 {
  background-color: #FFA290;
  animation-delay: -0.5s;
}
.square2 {
  background-color: #FFE6AA;
  animation-delay: -0.9s;
}
.square3 {
  background-color: #D2F5FC;
  animation-delay: -1.3s;
}


@keyframes sk-cubemove {
  25% { transform: translateX($spinnerOffset)  }
  50% { transform: translateX($spinnerOffset) translateY($spinnerOffset) }
  75% { transform: translateX(0px) translateY($spinnerOffset)  }
}
