@import "../../../../scss/main";
.page-nav {
  margin-bottom: 150pt;
  text-align: right;
  button {
    background: none;
    border: none;
    outline: none;
    margin-left: 23pt;
    font-size: 7pt;
    cursor: pointer;
    opacity: 1;
    transition: all .2s;
  }
}