$theme-color: #FFBA36;
$text-color: #404040;

html {
  overflow-y: scroll;
  cursor: default;
}
#app {
  min-height: 80%;
  position: relative;
}
* {
  margin: 0;
  padding: 0;
}
.high-light {
  color: $theme-color !important;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
