$theme-color: #FFBA36;
$text-color: #404040;

html {
  overflow-y: scroll;
  cursor: default;
}
#app {
  min-height: 100%;
  position: relative;
}
* {
  margin: 0;
  padding: 0;
}
.high-light {
  color: $theme-color !important;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

::-webkit-scrollbar              {
  /* 1 */
  width: 2pt;
}
::-webkit-scrollbar-button       {
  /* 2 */
  display: none;
}
::-webkit-scrollbar-track        { /* 3 */ }
::-webkit-scrollbar-track-piece  { /* 4 */ }
::-webkit-scrollbar-thumb        {
  /* 5 */
  background: $theme-color;
}
::-webkit-scrollbar-corner       { /* 6 */ }
::-webkit-resizer                { /* 7 */ }
