@import "../../../../scss/main";
.blog {
  margin-top: 79pt;
  font-family: Microsoft Yahei, serif;
  .blog-header {
    position: fixed;
    > div:last-child {
      padding: 9pt 0;
    }
  }
  .blog-title {
    font-size: 15pt;
    border-bottom: 1pt solid #ffba26;
    padding: 4pt 0;
  }

  section[data-loading] {
    position: relative;
    top: 0;
    opacity: 1;
    transition: all .2s;
    padding-bottom: 10pt;
    padding-top: 92pt;

    &[data-loading="true"]{
      top: 3pt;
      opacity: 0;

      & + .page-nav {
        opacity: 0;
      }
    }
  }

  .email {
    font-size: 7pt;
  }
  main {
    margin-top: 42pt;
  }
}